body {
    position: relative;
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 14px;

    background-image: url('http://i.imgur.com/JNS0yFE.png');
    margin: 0 auto;
    /*width: 960px;*/
    color: white  !important;
}

.container{
    background: #2C2C2C;
    max-width: 960px;
    margin: 0 auto;
    padding: 24px;
}

.login-area {
    font-size: 16px;
    /*position: absolute;*/
    float: right;
    margin-top: 14px;
    padding-top: 8px;
    /*top: 10px;*/
    /*right: 10px;*/
}

a, .login-link, .login-link:visited{
    color: white  !important;   
}

.login-link, .login-link:visited {
    text-decoration: none;
}

a:hover, .login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red  !important;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text].newpost-subject {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=text], input[type=password], textarea {
    color: black !important;
}

input[type=submit], button {
    color: black !important;
  font-size: 24px;
}

p.main-title-p{
    padding-top: 8px;
}

.main-title {
    display: inline-block;
    color: #2980b9  !important;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

div.post-title {
    font-size: 24px;
    font-weight: bold;
}

div.post-title > a:after, div.post-title > a:visited{
    color: #2980b9  !important;
    text-decoration: none;
}

span.post-title{
    color: #167AC6;
}

span.post-title a{
    text-decoration: none;
}

div.post-title span:not(.post-title){
    font-size: 18px;
    padding-left: 2.5px;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;

}

div.post-content {
    /*background: #bdc3c7;*/
    margin-top: 5px;
    overflow: hidden;
    padding: 0 15px;
    word-wrap: break-word
}

p.post-content, div.comments-container{
    /*overflow-y: scroll;*/
}

p.post-content{
    background: #/*2980b9*/;
    border-bottom: 1px solid #666;
    max-height: 450px;
    padding: 5px 0;
}

div.comments-container{
    /*background: #ecf0f1;*/
    border-radius: 5px 0 0 5px;
    max-height: 240px;
}

p.comment{
    padding: 5px;
}

p.comment > span{
    border-radius: 5px;
    padding: 5px;
}

p.comment span.name{
    color: #167AC6 !important;
}