<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/XMpGtNC.png"/>
  <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css" />
  
  <title>My Multi-User Blog</title>
</head>

<body>
<div class="container">
  <div class="login-area">
    {% if user %}
      Hi, {{user.name}} (<a class="login-link" href="/logout">logout</a>)
      <br>
      <a href="/blog/newpost">Submit a new post</a>
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <p class="main-title-p">
    <a href="/blog" class="main-title">
      My Udacity Multi-User Blog
    </a>
  </p>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
  </div>
</body>

</html>

