{% extends "base.html" %}

{% block content %}
  <h2>new post</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input class="newpost-subject" type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>
       
       <label style="font-size: 14px; margin: 5px 0 20px 0;"><input type="checkbox" name="anonymous" value="anonymous">Post anonymous</label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
{% endblock %}
