<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {% if link_to_self %}
      <a href={{"./blog/" + p.id}}>{{p.subject}}</a>
      {%else%}
      <span class="post-title">{{p.subject}}</span>
      {% endif %}
      <span>by {{p.owner}}</span>
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    <p class="post-content">
      {{p._render_text | safe}}
    </p>
  
  <form method="get">
    <a href={{"/blog/edit/" + p.id}}>Edit post<span class="glyphicon glyphicon-pencil"></span></a>
    <a href={{"/blog/delete/" + p.id}}>Delete post<span class="glyphicon glyphicon-trash"></span></a>
    <a href={{"/blog/upvote/" + p.id}}>Upvote<span class="glyphicon glyphicon-thumbs-up"></span></a>
    <a href={{"/blog/downvote/" + p.id}}>Downvote<span class="glyphicon glyphicon-thumbs-down"></span></a>
  </form>

  {% if user %}      
  {% else %}
  {% endif %}
  
  {{upvotes}}
  Upvotes
  <br>
  {{downvotes}}
  Downvotes
  
  <br>
  <br>
  <h2>Comments</h2>
  <div class="comments-container">


  {% if p.post_comments %}
    {% for c in p.post_comments.order('-created') %}
      <p class="comment">
        <span>
          <span class="name">{{c.owner}}</span>{{' commented "' ~ c.content ~ '"'}}

          <a href={{'/blog/' + p.id + '/comment/delete/' ~ c.key().id()}}>
            Delete
            <span class="glyphicon glyphicon-erase"></span>
          </a>
          <a href={{'/blog/' + p.id + '/comment/edit/' ~ c.key().id()}}>
            Edit
            <span class="glyphicon glyphicon-pencil"></span>
          </a>

        </span>
      </p>
    {% endfor %}
  {% else %}
    <p>There doesn't seem to be any comments here</p>
  {% endif %}
  </div>
  <br>
  <br>
  <form method="post" action={{"/blog/" + p.id + "/comment/new"}}>

    <label>
      <div>Leave a comment</div>
      <textarea name="content" style="max-height: 50px">{{content}}</textarea>
    </label>

    <label style="font-size: 14px; margin: 5px 0 20px 0;"><input type="checkbox" name="anonymous" value="anonymous">Post anonymous</label>

    <div class="error">{{error}}</div>

    <input type="submit" value="Comment" style="font-size: 14px;">
  </form>
  </div>

</div>
